#main{
	background-color: #F2F2F2;
}
#myCarousel{
	margin-top: 7%;
}
.panel-body{
	background-color: #222222;
}
.video{
	margin-top: 8%;
}
ul{
	list-style-type: none;
}
#foot{
	background-color: #222222;
	color: white;
	font-size: 80%;
}
.footnav{
	margin-left: 17%;
}
.footSocial{
   margin-left: 17%;
}