
#myCarousel{
	margin-top: 7%;

}
#foot{
	background-color: #222222;
	color: white;
}
.panel-body{
	background-color: #222222;
}
.video{
	margin-top: 8%;
}
#main{
	background-color: #F2F2F2;
}
ul{
	list-style-type: none;
}
.footnav{
	margin-left: 20%;
}
.footSocial{
   margin-left: 19%;
}