#main{
	background-color: #F2F2F2;
}
#myCarousel{
	margin-top: 7%;
}
.panel-body{
	background-color: #222222;
}
.video{
	margin-top: 8%;
}
ul{
	list-style-type: none;
}
#foot{
	background-color: #222222;
	color: white;
	font-size: 80%;
}
.footnav{
	margin-left: 17%;
}
.footSocial{
   margin-left: 17%;
}
html{
	font-size: 8px;
}
/**
 * [media description]
 * @param  {[type]} min-width: 33.9em        [description]
 * @return {[type]}            [description]
 */
@media (min-width: 33.9em) { 

         html {
        font-size: 10px;
      }


 }
/**
 * Small devices (phones, tablets less than 48em)
  */
@media (min-width: 47.9em) {
     html {
    font-size: 12px;
  }
}

/**
 * Medium devices (tablets, small laptops less than 62em)
 
 */
@media (min-width: 61.9em) {
    html {
    font-size: 14px;
  }

 }

/**
 * Large devices (desktops, screens less than 75em)
 * @param  {[type]} max-width: 74.9em        [description]
 * @return {[type]}            [description]
 */
@media (min-width: 74.9em) {
      
html {
    font-size: 16px;
  }
}