#heading{
    margin-top: 5%;
    height: 10%;
    text-align: center;
    background-color: #222222;
	  color: white;
}
#content{
	background-color: #F2F2F2;
}
.info1{
	margin-top: 19%;
}
.articleimg3{
	margin-top: 15%;
}
#foot{
	background-color: #222222;
	color: white;
  font-size: 80%;
}
ul{
	list-style-type: none;

}
.footnav{
	margin-left: 17%;
}
.footSocial{
   margin-left: 17%;
}
#follow{
	margin-left: -5%;
}
